<h2>My Heroes</h2>

<div *ngIf="isWriter">
	<label>Hero name:
    <input #heroName formControlName="heroName"/>
  </label>
	<button (click)="add(heroName.value); heroName.value=''" >
    add
  </button>
</div>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
<ul class="heroes">
	<li *ngFor="let hero of heroes">

		<ng-container *ngIf="isWriter; then writeTemplate; else readTemplate">
		</ng-container>

		<ng-template #writeTemplate>
			<a routerLink="/detail/{{hero.id}}">
				<span class="badge">{{hero.id}}</span> {{hero.name}}
			</a>
		</ng-template>
		<ng-template #readTemplate>
			<a routerLink="/detailro/{{hero.id}}">
				<span class="badge">{{hero.id}}</span> {{hero.name}}
			</a>
		</ng-template>
		<button class="delete" title="delete hero" *ngIf="isWriter"
      (click)="delete(hero)">x</button>
	</li>
</ul>